:root {
  --h: 400px;
  --w: 100vw;
  --wW: calc(var(--w) * 0.5);
}

* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #c2ae96;
}

div#widthSize {
  background-color: hsl(91, 84%, 81%);
  padding: 5px 20px;

  &:has(.wrong) {
    background-color: hsl(337, 84%, 81%);
  }

  &:has(.warm) {
    background-color: hsl(86, 31%, 57%);
  }
  &:has(.veryWarm) {
    background-color: hsl(87, 55%, 70%);
  }

  .wrong {
    font-weight: bold;
    color: hsl(352, 100%, 25%);
  }
}

div.container {
  width: var(--w);
  height: var(--h);
  position: relative;
  opacity: 100%;
  background-color: pink;

  &:has(svg) {
    display: block;
    /* background-color: aliceblue; */
    background-color: #ccb69b;
    border: 2px solid cadetblue;
  }
}

div.container {
  >img {
    height: 100%;
    transform: translateY(-24.5px) translateX(271.5px);
    scale: 1.299;
    position: absolute;
    filter: contrast(5) brightness(9);
    opacity: 40%;
  }

  >svg {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 50%;
  }

  >svg.hat {
    background-color: lightgray;
    clip-path: polygon(calc(var(--wW) - (var(--h) * 0.3)) 60%,
        calc(var(--wW)) 75%,
        calc(var(--wW) + (var(--h) * 0.095)) 50%);
  }

  >svg.deer {
    background-color: skyblue;
    clip-path: polygon(calc(var(--wW) - (var(--h) * 0.5)) 100%,
        /*1*/

        calc(var(--wW) - (var(--h) * 0.5)) 35%,
        /*2*/

        calc(var(--wW) - (var(--h) * 0.25)) 30%,
        /*3*/

        calc(var(--wW)) 35%,
        /*4*/

        calc(var(--wW) + (var(--h) * 0.035)) 34%,
        /*5*/

        calc(var(--wW) + (var(--h) * 0.07)) 35%,
        /*5.1*/

        calc(var(--wW) + (var(--h) * 0.145)) 27%,
        /*5.2*/

        calc(var(--wW) + (var(--h) * 0.165)) 20%,
        /*5.3*/

        calc(var(--wW)) 0%,
        /*6*/

        calc(var(--wW) + (var(--h) * 0.5)) 0%,
        /*7*/

        calc(var(--wW) + (var(--h) * 0.5)) 100%
        /*8*/
      );
  }
}