:root {
  --h: 40vw;
  --w: 100vw;
  --wW: calc(var(--w) * 0.5);
}

* {
  padding: 0;
  margin: 0;
}

/* body {
  background-color: #c2ae96;
} */

div#widthSize {
  background-color: hsl(91, 84%, 81%);
  padding: 5px 20px;

  &:has(.wrong) {
    background-color: hsl(337, 84%, 81%);
  }

  &:has(.warm) {
    background-color: hsl(86, 31%, 57%);
  }

  &:has(.veryWarm) {
    background-color: hsl(87, 55%, 70%);
  }

  .wrong {
    font-weight: bold;
    color: hsl(352, 100%, 25%);
  }
}

/* 
.testus svg {
  width: 100%;
  height: 200px;
  background-color: beige;

  polygon {
    fill: plum;

    &.haha {
      fill: green;
    }
  }

  path {
    fill: none;
    stroke: purple;
    stroke-width: 3;
  }
} 
*/

div.container {
  width: var(--w);
  height: var(--h);
  position: relative;
  opacity: 100%;
  /* background-color: pink; */

  &:has(svg) {
    display: block;
    /* background-color: aliceblue; */
    /* background-color: #ccb69b; */
    /* border: 2px solid cadetblue; */
  }
}

div.container {
  >img {
    height: 100%;
    transform: translateY(-24.5px) translateX(271.5px);
    scale: 1.299;
    position: absolute;
    filter: contrast(5) brightness(9);
    /* opacity: 40%; */
  }

  >svg {
    height: 100%;
    width: 100%;
    position: absolute;
    /* opacity: 75%; */
  }

  >svg.hat {
    background-color: darkolivegreen;
    clip-path: polygon(
        /*behind LEFT ear*/
        56% 20%,
57.2% 11%,
/*TOP OF HAT*/ 60.6% 7%,
/*OUTER RIGHT TIP OF HAT*/ 64% 14%,
62% 13%,
59.6% 13.2%
        /*END*/
      );
  }

  >svg.deerHindLeg {
    background-color: lightblue;
    clip-path: polygon(
         36% 65.6%,
35.6% 67.5%,
35.8% 69.7%,
/*SESAMOID BEHIND*/ 41.8% 88%,
/*TOE TIP*/ 42.4% 93%,
42.92% 91.8%,
/*SESAMOID FRONT*/ 42.6% 87%,
/*INNER PATELLA*/ 38% 72.5%,
38.8% 65%,
42% 53%,
/*HEART*/ 38.4% 53%,
38.72% 57%,
38.6% 59%,
38.4%
        /*END*/
      )
  }

  >svg.deerFrontLeg {
    background-color: cornflowerblue;
    clip-path: polygon(
        /*SHOULDER*/
         50.6% 50%,
/*HEART*/ 56% 50%,
55.4% 55%,
54.2% 57.5%,
/*FALSE ELBOW FRONT*/ 54.6% 75%,
/*FOOT*/ 47.92% 94%,
47.48% 92%,
48% 88%,
/*FALSE ELBOW FRONT*/ 52.88% 75%);
  }

  >svg.deerSecondary {
    /* background-color: purple; */
    background: linear-gradient(hsl(18, 25%, 55%), hsl(18, 39%, 80%), hsl(24, 31%, 57%), hsl(18, 36%, 77%));
    clip-path: polygon(
         /*OUTER PATELLA*/ 50.8% 52%,
/*HEART*/ 42% 40%,
/*HEART*/ 38.32% 60.65%,
37% 63.2%,
36% 65.6%,
35.6% 67.5%,
35.8% 69.7%,
/*OUTER PATELLA END*/ /*SESAMOID BEHIND*/ 41.8% 88%,
/* TOE TIP */ 42.4% 93%,
42.92% 91.8%,
/*TOE END*/ /* SESAMOID FRONT */ 42.6% 87%,
/*SESAMOID END*/ /* INNER PATELLA */ 38% 72.5%,
/*INNER PATELLA END*/ 42% 48%,
/*HEART*/ 54.8% 40%,
58.4% 14%,
/*BASE*/ 57.72% 8.4%,
/*MARK!!*/ 57.68% 7.1%,
57.72% 5.39%,
57.92% 4.3%,
58.28% 2.35%,
58.6% 1.3%,
58.92% .35%,
59.32% .18%,
/*LEFT EAR TIP*/ 59.6% 1.02%,
59.72% 2%,
59.8% 5%,
59.44% 7%,
/*MARK!!*/ 58.8% 12.5%,
/*LEFT EAR INNER BASE*/ 60% 14%,
/*RIGHT EAR INNER BASE*/ 61.92% 10%,
63% 8%,
64% 5.5%,
64.48% 4.3%,
64.72% 4.2%,
/*RIGHT EAR TIP 1*/ 64.72% 4.212%,
/*RIGHT EAR TIP 2*/ 64.8% 4.65%,
64.8% 6%,
64.6% 7.5%,
63.2% 11.5%,
/*BASE*/ 61.6% 14%,
56% 50%,
55.4% 55%,
54.2% 57.5%,
/*FALSE ELBOW FRONT*/ 54.6% 75%,
/*ELBOW FOOT AMEND*/ 52.4% 82.5%,
49.4% 88.5%,
/*AMEND END*/ /*FOOT*/ 47.92% 94%,
47.64% 92.9%,
47.96% 90.3%,
50.4% 83%,
/*FALSE ELBOW BACK*/ 51.2% 81.5%,
53% 74.9%,
53.12% 73.5%,
52.88% 68.9%
        /*END*/
      );
  }

  >svg.deerPrimary {
    /* background-color: skyblue; */
    background: linear-gradient(hsl(18, 47%, 37%), hsl(18, 49%, 33%), hsl(18, 28%, 59%));
    clip-path: polygon(
        /*right back toe (closest to us)*/
        41.8% 97.8%,
        41% 98%,

        /*calcenaeus BACK*/
        36.4% 68%,

        /*carpals*/ 39.2% 62%,
39.28% 60%,
39% 57%,
/*TAIL BOTTOM*/ 36.6% 44.6%,
36.2% 44%,
35.64% 42.5%,
35.36% 40%,
35.5199% 38%,
36% 36%,
/*2*/ 37.04% 33.2%,
38.4% 30.4%,
39.2% 29%,
39.4800% 28.9%,
/*END TAIL SECTION: TOP*/ 40.4% 27.2%,
/*TAIL BUTT: AMEND*/ /*BUTT SECTION*/ 41.64% 25.25%,
42.64% 24.87%,
/*END BUTT SECTION*/ /*SHOULDER START*/ 50.52% 29.1%,
/*SHOULDER TOP*/ 52.32% 28.28%,
52.56% 28.26%,
/*SHOULDER BEND DOWN TO*/ 53.04% 28.7%,
/*SHOULDER TOP THROAT START: AMEND*/ /*THROAT BASE*/ 53.62% 29.5%,
53.76% 29.45%,
/*NECK MIDDLE*/ 55.8% 25.3%,
/*SKULL BASE*/ 56.72% 21.8%,
57.6% 18%,
57.8% 15%,
57.5199% 12.5%,
57.76% 9.9%,
/*EAR LEFT TIP TOP*/ 57.72% 8.4%,
/*MARK!!*/ 58.04% 10%,
58.4% 12.5%,
/*DIP!!!*/ 58.4800% 11.65%,
58.8% 10%,
59.44% 7%,
/*MARK!!*/ 59.4800% 8.74%,
59.72% 10.4%,
59.76% 11.5%,
/*EAR BASE*/ 59.56% 12.3%,
/*EAR SECTION END*/ 60.4% 12.02%,
61.6% 12.5%,
/*BROW SECTION*/ 62% 13.78%,
62.36% 14.05%,
/*BROW TOP*/ 62.44% 14.4%,
/*BROW TOP*/ 62.28% 15.45%,
62.24% 16.5%,
/*BROW SECTION END*/ /*FACE DIP*/ 62.8% 19%,
/*SNOUT SECTION*/ 64.32% 23%,
64.52% 24.5%,
64.4% 25%,
63.8% 25.65%,
/*END SNOUT SECTION*/ /*MOUTH*/ 63.4% 26.2%,
/*UNDERSIDE OF JAW*/ 61.8% 25.5%,
60.92% 26%,
60.5199% 26.9%,
/*THROAT START*/ 56.68% 50.5%,
56.2% 52%,
/*ELBOW CHEST FRONT BASE*/ 51.2% 59%,
/*RIGHT FRONT TOE*/ 50.6% 99.5%,
50% 99.5%,
/*ELBOW BOWL BASE*/ 48.28% 57%,
/*BELLY SECTION*/ 48.4% 54%,
44.8% 49.8%,
/*END BELLY SECTION*/ /*INNER PELVIS*/ 43.8% 51%,
/*PATELLA*/ 43.76% 55%,
43.76% 58%,
42.8% 62%,
40.32% 66%,
39.2% 70%,
39% 74%);
  }
  >svg.deer {
    background-color: skyblue;
    clip-path: polygon(
        /*right back toe (closest to us)*/ 41.8% 97.8%,
41% 98%,
/*36.4% 68%,
/*carpals*/ 39.2% 62%,
39.28% 60%,
39% 57%,
/*TAIL BOTTOM*/ 36.6% 44.6%,
36.2% 44%,
35.64% 42.5%,
35.36% 40%,
35.5199% 38%,
36% 36%,
/*2*/ 37.04% 33.2%,
38.4% 30.4%,
39.2% 29%,
39.4800% 28.9%,
/*END TAIL SECTION: TOP*/ 40.4% 27.2%,
/*TAIL BUTT: AMEND*/ /*BUTT SECTION*/ 41.64% 25.25%,
42.64% 24.87%,
/*END BUTT SECTION*/ /*SHOULDER START*/ 50.52% 29.1%,
/*SHOULDER TOP*/ 52.32% 28.28%,
52.56% 28.26%,
/*SHOULDER BEND DOWN TO*/ 53.04% 28.7%,
/*SHOULDER TOP THROAT START: AMEND*/ /*THROAT BASE*/ 53.62% 29.5%,
53.76% 29.45%,
/*NECK MIDDLE*/ 55.8% 25.3%,
/*SKULL BASE*/ 56.72% 21.8%,
57.2% 18%,
/*UNDER HAT*/ /*NO LEFT EAR BASE BOTTOM AS OF YET*/ /*EAR LEFT TIP TOP*/ 59.2% 0.14%,
/*BETWEEN EARS*/ 60% 11%,
62% 10%,
/*EAR RIGHT TIP TOP*/ 64.68% 4%,
64.84% 5.5%,
/*EAR RIGHT END BASE*/ 62% 13.2%,
/*FACE DIP*/ 62.8% 19%,
/*SNOUT SECTION*/ 64.32% 23%,
64.52% 24.5%,
64.4% 25%,
63.8% 25.65%,
/*END SNOUT SECTION*/ /*MOUTH*/ 63.4% 26.2%,
/*UNDERSIDE OF JAW*/ 61.8% 25.5%,
60.92% 26%,
60.5199% 26.9%,
/*THROAT START*/ 56.68% 50.5%,
56.2% 52%,
/*ELBOW CHEST FRONT BASE*/ 51.2% 59%,
/*RIGHT FRONT TOE*/ 50.6% 99.5%,
50% 99.5%,
/*ELBOW BOWL BASE*/ 48.28% 57%,
/*BELLY SECTION*/ 48.4% 54%,
44.8% 49.8%,
/*END BELLY SECTION*/ /*INNER PELVIS*/ 43.8% 51%,
/*PATELLA*/ 43.76% 55%,
43.76% 58%,
42.8% 62%,
40.32% 66%,
39.2% 70%,
39% 74%);
  }
}
