:root {
  --posE: 0px;
  --pos1: 50px;
  --pos2: 100px;
  --posF: 150px;
  /*
  --hundo: 100%;
  */
  --hundo: 400px;
  
  --squareDuration: 3s;
}
* {
  margin: 0;
  padding: 0;
}
body {
  hr { margin: 2rem 1rem; }
  ul li { margin: 0 2rem; }
  s { color: gray; font-size: 0.7rem; font-style: italic; }
}
.h {
  background: linear-gradient(to right, aliceblue 50%, orange 50%);
  opacity: 75%;
}
.square {
  width: 100px;
  aspect-ratio: 1;
  background: red;
  position: relative;
  left: 50%;
  animation: linear var(--squareDuration) infinite;
  animation-name: mymove, minmove2;
}
@keyframes mymove {
  0% { top: 0; }
  100% { top: var(--hundo); }
}
@keyframes minmove2 {
  50% { top: 200px; }
}
